<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>administrator</title>
<link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_URL}/admin.css" />
<link rel="stylesheet" href="{$smarty.const.ADMIN_URL}/fonts.css" />
<!--[if lte IE 7]><script src="./js/lte-ie7.js"></script><![endif]-->
</head>
<script type="text/javascript" laguage="javascript">
var navSelectNo={if $navSelectNo}{$navSelectNo}{else}0{/if};
</script>
<body>


<div class="head">
<div class="pubw">
<div class="a">SETPHP后台管理系统 - 基础版 - version2.0</div>
<div class="b">
<div class="ba">您好，ADMINISTRATOR</div>
<div class="bb"><div class="fonts1" aria-hidden="true" data-icon="&#x3d;" title="安全退出"></div></div>
</div>
</div>
</div>